<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Search:&nbsp;</label>
        <input type="text" @bind-value="filter" id="filter" class="form-control" placeholder="Search">
    </div>
    <button type="button" class="btn btn-primary mb-2" @onclick="HandleSearch">Search</button>
</form>

@code {
    private string filter;

    // EventCallback is a way to pass info from child component 
    // to parent component
    // EventCallback has a generic type
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void HandleSearch()
    {
        OnSearch.InvokeAsync(filter);
    }
}
